
body {
    display: flex;
    background: rgba(146, 150, 187, 0.493);
    min-width: 200px;
    min-height: 350px;
    width: 350px;
    height: 400px;
}

.box-area{
    background: #ffffff;
    font-size: 11px;
    margin: 100px auto;
    padding: 5px;
    width: 210px;
    height: 320px;
    border-radius: 5% ;
    border: 1px ridge rgb(255, 255, 255);
}

.text{
    background: rgb(255, 255, 255);
    margin:auto auto 0 auto;
    text-justify: distribute-all-lines;
    font-family: "Arial";
    font-size: 12px;
    padding: 0 30px;
    width: auto;
}

.text h4{
    height: auto;
    color: rgb(6, 2, 66);
    text-align:center;
    margin: 10px auto;

}

.text h6{
    color: rgba(32, 32, 59, 0.288);
    text-align:center;
    margin: 10px auto;
}


.img {
    width: 200px;
    border-radius: 5%;
    border: 1px ridge rgba(5, 5, 226, 0.452);
    margin: 4px 4px;
}